 <div class="index-content">
   <% @user.followings.each do |following| %>
   <div class="container-fluid">
     <%= render 'site/post_images/style', post_images: following.post_images.page(params[:page]).reverse_order.per(12) %>
   </div>
   <div class="fixed">
     <%= paginate following.post_images.page(params[:page]).reverse_order.per(12), class: "paginate" %>
   </div>
   <% end %>
 </div>
