<header>
	<div class="container">
		<div class="row">
			<nav class="nav navbar-nav navbar-left logo">
				<%= link_to "Home", root_path %>
			</nav>
			<nav class="header-icon">
				<%= link_to root_path do %>
				<i class="fas fa-home fa-3x"></i>
				<br>ホーム<% end %>
				<%= link_to new_user_registration_path do %>
				<i class="fas fa-cogs fa-3x"></i>
				<br>ユーザー登録 <% end %>
				<%= link_to new_user_session_path do %>
				<i class="fas fa-shoe-prints fa-3x"></i>
				<br>ログイン<% end %>
			</nav>
		</div>
	</div>
</header>
