 <div class="index-content">
   <div class="container-fluid">
     <% post_images.each do |post_image| %>
     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
       <!-- card -->
       <%= render 'site/post_images/card', post_image: post_image %>
     </div>
     <% end %>
   </div>
 </div>
