 <div class="container-fluid">
   <div class="row content content-back">
     <!-- 左側 -->
     <div class="col-lg-3  col-sm-12 sidenav">
       <%= render 'site/users/prof', user: @user, report: @report %>
     </div>
     <!-- 右側 -->
     <div class="col-lg-9 col-sm-12">
       <div class="container-fluid padding-none">
         <%= render 'site/post_images/style', post_images: @post_images %>
       </div>
     </div>
   </div>
 </div>
