<div class="container-fluid">
  <!-- 新着順全て -->
  <div class="tab-pane fade in active" id="index">
    <div class="container-fluid">
      <% @post_images.each do |post_image| %>
      <%= attachment_image_tag post_image, :image, :fill, 400, 400, class: "pull-left profile-thumb", fallback: "no_image.jpg"%>
      <% end %>
    </div>
    <div class="fixed">
      <%= paginate @post_images, class: "paginate" %>
    </div>
  </div>
</div>
